#myWebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#myImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.ins{
    position:absolute;
    font-size:140%;
    left:130px;
    top:620px;
    background-color: rgba(255, 255, 255, 0.61);
    color:purple
}
.container {
    position: relative;
}
#overlay {
    position: absolute;
    font-size:150%;
    left: 230px;
    top: 5px;
    background-color: rgba(100, 109, 93, 0.438);
    color: white;
    font-family: monospace;
    padding: 1em;
}
